@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 320px) and (max-width: 767px) {
  .sidebar {
    width: 6.5rem;
    min-height: 100vh;
  }
  .sidebar.visible {
    width: 0;
    transition: all 0.7s ease;
}
  .sidebar .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 100%;
    display: block;
  }
  .sidebar .nav-item .nav-link span {
    font-size: 14px;
    display: block;
  }
  .sidebar .sidebar-brand img {
    width: 68px;
    height: 49px;
  }

  .top-stats img {
    width: 40px;
    height: 40px;
  }
  .top-stats span {
    font-size: 18px;
  }
  .page-inputs {
    padding: 20px 20px;
}
}
